// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// $fa-font-path: './asdf/';

@import "node_modules/font-awesome/scss/font-awesome";

ul.pagination {
	float: right;
}